<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>You first Spring application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <div th:replace="/includes/header_common_links"></div> <!-- todos los css -->
</head>
<body>
<header>
    <nav th:replace="/includes/header :: header_fragment"></nav>
</header>
<main class="text-center">

    <div>
        <div class="container my-2">

            <div class="d-grid gap-2 d-flex justify-content-end my-2" id="acciones">
                <button class="btn btn-success"><a href="nuevoCoche.html">NUEVO COCHE</a></button>

                <button class="btn btn-success" data-toggle="modal" data-target="#dialogoKM">ACTUALIZAR KILOMETROS</button>

            </div>
            <div class="tabulator">
                <div class="tabulator-header text-center py-2" style="font-size: 25px;">Audi A3 1999</div>
                <div id="agrupados" class="text-center">
                </div>
            </div>
        </div>
    </div>


</main>
<footer th:replace="/includes/footer :: footer"></footer>
<div th:replace="/includes/footer_common_links"></div> <!-- todos los js -->
<script th:src="@{/tabla/tabla.js}"></script>

</body>
</html>
